
    /* Reset CSS */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      z-index: 1;
    }
    /* Spotify theme */
    .footer-body {
      background-color: #000;
      color: #fff;
      font-family: Arial, sans-serif;
    }
    footer {
      background-color: #000000;
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;
    }
    .footer-logos img {
      width: 30px;
      margin-right: 10px;
    }
    .footer-logos img.spotify-logo {
      width: 50px;
    }
    .social-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .social-links a {
      margin-left: 10px;
      font-size: 20px; /* Adjust the font size of icons */
      /* Or */
      width: 20px; /* Adjust the width of icons */
      height: 20px; /* Adjust the height of icons */
      color: chartreuse;
    }
    .created-by {
      font-size: 14px;
      opacity: 0.7;
    }
    .navbar-nav .nav-link {
        font-weight: normal;
        color: #ffffff;
        text-decoration: none;
        text-align: justify;
        transition: 0.15s ease-in-out;
      }
      
      .navbar-nav .nav-link:hover {
        font-weight: bold;
        color: #fff;
        text-decoration: underline;
       
      }
      